/* <--- COMMONS ---> */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
/* COLOR PALETTE */
  /* header D881E0 */
  /* jumbotron E0D686 */
  /* container B1CEE4 */
  /* main 3686F7 */
  /* footer 7D27F5 */

body{
  padding: 0px 100px;
  font-family: 'Montserrat', sans-serif;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

/* <--- HEADER --->   */


#logo{
  border-right: 0.5px solid lightgray;
  height: 50px;
  padding-right: 10px;
}

nav{
  margin: 20px 0;
}

ul li {
  list-style: none;
  display: inline-block;
  text-transform: uppercase;
  color: #858585;
  font-size: 10px;
  margin-right: 5px;
}

.jumbotron{
  background-image: url(../img/banner.jpg);
  background-size: cover;
  background-position: center;
  height: 320px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.text-jumbotron {
  color: white;
  width: 55%;
  padding: 205px 0 0 30px;
}

.text-jumbotron div{
  font-size: 10px;
}


/* <--- MAIN --->   */

.left{
    float: left;
}

h1{
  font-family: Arial, Helvetica, sans-serif;
}




.grow-img{
  background-image: url(../img/img-1.jpg);
  height: 200px;

}

.idea-img{
  background-image: url(../img/img-3.jpg);
  height: 200px;
}

.reading-img{
  background-image:url(../img/banner-2.jpg);
  height: 200px;
  background-size: 200%;
}


.grow-img, .idea-img, .reading-img{
  background-position: center;
  border-radius: 10px;

}

.grow-img, .idea-img, .lorem-grow, .lorem-idea {
    margin: 2.5% 0;
    width: 20%;
  }

.reading-img, .ipsum-reading{
  margin: 2.5% 2%;
  width: 56%;
}

.title{
  margin: -20px 0 10px 0;
}

.title, .text{
  font-size: 12px;


}

.text{
  color: #858585;
}


/* <--- FOOTER --->   */

footer{
  margin-top: 10px;
  text-align: center;

}

span{
  color: red;
}
